parameters:
	ignoreErrors:
		-
			message: "#^Offset 'name' on array\\{name\\: string, passwd\\: string, gid\\: int, members\\: array\\<int, string\\>\\} in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/Commands/GroupsCommand.php

		-
			message: "#^Strict comparison using \\=\\=\\= between string and false will always evaluate to false\\.$#"
			count: 1
			path: src/Commands/PrintfCommand.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Commands/TestCommand.php

		-
			message: "#^Deprecated in PHP 8\\.4\\: Parameter \\#2 \\$out \\(array\\) is implicitly nullable via default value null\\.$#"
			count: 1
			path: tests/TextEnvUtilsTest.php
